body {
	margin: 0;
}

#video-demo-container {
	width: 400px;
	margin: 40px auto;
}

#main-video {
	display: none;
	max-width: 400px;
}

#thumbnail-container {
	display: none;
}

#get-thumbnail {
	display: none;
}

#video-canvas {
	display: none;
	width: 400px;
}

#upload-button {
	width: 150px;
	display: block;
	margin: 20px auto;
}

#file-to-upload {
	display: none;
}
